altair==6.0.0
annotated-types==0.7.0
attrs==25.4.0
blinker==1.9.0
cachetools==7.0.3
certifi==2026.2.25
charset-normalizer==3.4.4
click==8.3.1
coloredlogs==15.0.1
cssselect==1.4.0
docopt==0.6.2
eutils==0.6.1
fastapi==0.105.0
GitPython==3.1.46
h11==0.16.0
habanero==2.3.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
idna==3.11
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
Levenshtein==0.27.3
lxml==6.0.2
lxml_html_clean==0.4.4
MarkupSafe==3.0.3
metapub==0.6.4
narwhals==2.17.0
numpy==2.4.2
ollama==0.6.1
packaging==25.0
pandas==2.3.3
pillow==12.1.1
protobuf==6.33.5
pyarrow==23.0.1
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-multipart==0.0.6
pytz==2026.1.post1
PyYAML==6.0.3
RapidFuzz==3.14.3
rdflib==7.6.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
scikit-learn==1.6.0
six==1.17.0
smmap==5.0.2
streamlit==1.55.0
tabulate==0.9.0
tenacity==9.1.4
toml==0.10.2
tqdm==4.67.3
transformers>=4.46,<5
datasets==3.2.0
torch==2.10.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
umls-python-client==1.0.5
Unidecode==1.4.0
urllib3==2.6.3
uvicorn==0.34.0
watchdog==6.0.0
wcwidth==0.6.0